%p-principal{
    font-family: "Architects Daughter", cursive;
    color: #000000;
    font-size: clamp(0.7rem, 0.454rem + 1.231vw, 1.9rem);
    letter-spacing: 0.2rem;
    word-spacing: -0.2rem;
    font-weight: 10px;
    font-style: none;
    font-weight: 10px;
    text-align: center;
    background-color: rgba(243, 190, 130, 0.911); 
    width: 95%;
    padding: 1.3rem 0.3rem 1.3rem 0.3rem;
    border: #000000 2px groove;
}

%title-h2{    
    text-align: left;
    color: white;
    background-color: $color-solid;
    height: 100%;
    width: max-content;
    font-family: 'coffetea';
    font-size: clamp(1.5rem, 1.031rem + 1.25vw, 2.5rem);
    font-variant: unset;
    font-weight: 10;
    text-decoration: underline;
    border: 20px;
    border-radius: $standard-radius;
    margin: 1% 1% 5% 5%;
    padding: 1%;
}

%title-h3-rest{
    display: flex;
    text-align: center;
    font-family: 'coffetea';
    font-size: clamp(1.8rem, 1.238rem + 1.5vw, 3rem);
    font-weight: 100;
    background-color: $color-base;
    color: white;
    text-shadow: 2px 4px #000000;
    padding: 0.5%;
    border-radius: $standard-radius;
    margin-top: 1%;
    margin-bottom: 2.5%;
}

%style-stars{
    font-size: clamp(2.5rem, -0.491rem + 4.673vw, 4rem);
    color: $color-star;
    text-shadow: 5px 3px 10px #000000, 5px 3px 10px #000000;
}
%dflex{
    display: flex;
}

%db{
    display: block;
}

%dn{
    display: none;
}

%j-content-c{
    justify-content: center;
}

%j-content-r{
    justify-content: right;
}

%j-content-sa{
    justify-content: space-around;
}

%j-content-se{
    justify-content: space-evenly;
}

%j-items-c{
    justify-items: center;
}

%f-direction-c{
    flex-direction: column;
}

%f-direction-r{
    flex-direction: row;
}

%f-wr-nw{
    flex-wrap:nowrap;
}

%f-wr-w{
    flex-wrap:wrap;
}

%a-items-c{
    align-items: center;
}

%a-content-c{
    align-content: center;
}

%a-self-sf{
    align-self: self-start;
}

%a-self-fe{
    align-self: flex-end;
}

%a-self-c{
    align-self: center;
}

%a-self-fs{
    align-self: flex-start;
}


%Animation360{
    animation-name: Animation1;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count:1;
}

%Animationfadein{
    -webkit-animation: Animation2 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: Animation2 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;       
}

%Animationdrop{
	-webkit-animation: Animation3 1.1s, NaNs, both;
	        animation: Animation3 1.1s, NaNs, both;
}