/*Main*/
.main-container-info{
    display: flex;
    justify-content: center;
}

.main-container-title {
    text-align: center;
    font-family: 'coffetea';
    color: white;
    background-color: $color-solid;
    font-size: clamp(1.6rem, 1.415rem + 0.923vw, 2.5rem);
    font-variant: unset;
    font-weight: 10;
    text-decoration: none;
    text-shadow: 2px 4px #000000;
    border-radius: 20%;
    border: 10%;
    padding: 1%;
    margin-bottom: 1rem;
    height: auto;

}

.main-container-text{
    display: flex;
    justify-content: center;
}

.main-container-p {
    @extend %p-principal;
    margin: 2% 0rem 3% 0rem;
}

.main-line {
    text-align: center;
    width: 80%;
    border-radius: 50%;
    border-bottom: 5px black solid;
    margin: 3%;
}
