
@font-face {
    font-family: handmaker;
    src: url(/fuentes/hand_marker/handMarker.ttf);
}

@font-face {
    font-family: kgfont;
    src: url(../fuentes/kg/kg.otf);
}

@font-face {
    font-family: coffetea;
    src: url(./fuentes/coffetea/coffetea.ttf);
}

@font-face {
    font-family: coffedeco;
    src: url(./fuentes/decorationcoffe/coffedecoration.ttf);
}