.logo-container {  
    @extend %dflex, %f-direction-r;
    display: flex;
    margin: 2rem 0rem 2rem 1rem;
    
    @media(max-width: 992px) {
            margin-top: 0rem;
        }
}

.logo-section {
    @extend %dflex, %a-items-c, %a-content-c;
    gap: 0.2rem;
}
    
.logo-text {
    @extend %dflex, %a-items-c;
    font-family: "coffetea";
    align-items: center;
    font-size: clamp(1rem, 1.266rem + 0.625vw, 2rem);
    font-size: clamp(1.3rem, 1.266rem + 0.625vw, 2rem);
    color: $color-base2;
    text-shadow: 0 -1px 4px $color-base, 0 -10px 20px #ff8000bb, 0 -18px 40px rgba(255, 0, 0, 0.719), -40px -21px 0px rgba(206, 29, 29, 0);
    background-color: $color-base;
    border-radius: 10%;
    padding:0.5rem 0.5rem 0.3rem 0.5rem;
    margin: 0;
    margin-left: 0.2rem;
}

.logo-img {
    width: clamp(3rem, 2.063rem + 2.5vw, 5rem);
    height: auto;
    transition: 1s;
    @extend %Animation360;
}



