.logo-container {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 0rem 2rem 1rem;
}

.logo-section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.2rem;
}

.logo-text {
    display: flex;
    flex-wrap: wrap;
    font-family: "coffetea";
    align-items: center;
    font-size: clamp(1rem, 1.266rem + 0.625vw, 2rem);
    font-size: clamp(1.3rem, 1.266rem + 0.625vw, 2rem);
    color: #DFC599;
    text-shadow: 0 -1px 4px $color-base, 0 -10px 20px #ff8000bb, 0 -18px 40px rgba(255, 0, 0, 0.719), -40px -21px 0px rgba(206, 29, 29, 0);
    background-color: $color-base;
    border-radius: 10%;
    padding: 0.8rem 0.4rem 0 0.4rem;
}

.logo-img {
    display: flex;
    width: clamp(3rem, 2.063rem + 2.5vw, 5rem);
    height: auto;
}
