.nav-container-links {
    display: flex;
    position: relative;
    background-color: $color-base;
    align-items: center;
    height: auto;
    @media(max-width: 992px) {
        background-color: transparent;
    }
}

.open-nav {
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    transition: 0.5s;
    border: #000000 0.1rem solid;
    z-index: 10;
    &:hover {
        background-color: #d65d0c;
        border: #ffffff 0.1rem solid;
    }    

    @media(max-width: 992px) {
        position: absolute;
        top: 0.3rem;
        right: 0rem;
        display: block;
        color: rgba(243, 190, 130, 0.911);
        text-align: center;
        width: 20rem;
        padding: 0.5rem;
        background-color: $color-base;
        border-radius: 5%;
        -webkit-box-shadow: 5px 5px 15px 5px #000000;
        box-shadow: 5px 5px 15px 5px #000000;
        cursor: pointer;
    }

    @media(max-width: 768px) {
        width: 15rem;
    }

    @media(max-width: 480px) {
            width: 8rem;
        }
}

.cube-check {
    opacity: 0;
}

#check{
    @media(max-width: 992px) {
    &:checked~.nav-links{        
        visibility: visible;
        opacity: 95%;
        -webkit-box-shadow: 5px 5px 15px 5px #000000;
        box-shadow: 1px 1px 15px 1px #000000;
        transition: 0.5s;}
    }
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    align-items: center;
    justify-content: right;
    width: 100vw;
    height: 4rem;
    gap: 1.25rem;
    padding-right: 3rem;
    margin: 0;
    z-index: 10;

    @media(max-width: 992px) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 3.5rem;
            right: 0rem;
            display: flex;
            flex-direction: column;
            width: 20rem;
            height: auto;
            padding: 1rem;
            margin: 0;
            border: #000000 0.2rem solid;
            border-radius: 5% 0% 0% 5%;
            background-color: $color-base;
    }

    @media(max-width: 768px){
            width: 15rem;
    }

    @media(max-width: 480px) {
        width: 11rem;
    }
}

.nav-link {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Anta', sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    width: auto;

    @media(max-width: 992px) {
            width: auto;
            height: 100%;
            justify-content: center;
        }
}

.nav-link-text {
    display: block;
    font-size: clamp(1rem, 0.581rem + 0.654vw, 1.35rem);
    text-decoration: none;
    color: white;
    transition: 0.5s;
    &:hover{
        background-color: #d65d0c;
        padding: 1rem 0.3rem;
        border-radius: 10%;
    }
    @media(max-width: 992px) {
        text-align: center;
        flex-direction: row;
        width: auto;
        height: 100%;
        color: rgba(243, 190, 130, 0.911);
        &:hover{
            background-color: #d65d0c;
            padding: 0.5rem 0.1rem;
            border-radius: 10%;
        }
    }
}

