/*Nosotros*/
.nosotros-main-tittle {
    @extend %title-h2
}

.nosotros-main-container-info {
    @extend %dflex, %f-direction-r, %f-wr-w, %j-content-c;
}

.nosotros-main-container-p1{
    @extend %p-principal;
}

.nosotros-main-container-info1{
    @extend %dflex, %f-direction-c, %j-content-sa;
}

.nosotros-main-h3 {
    align-self:flex-start;
    color: white;
    background-color: $color-h3;
    height: 100%;
    width:max-content;
    font-family: 'coffetea';
    font-size: clamp(0.8rem, 0.451rem + 1.744vw, 2.5rem);
    font-variant: unset;
    font-weight: 10;
    text-decoration: none;
    border: 1px $color-solid solid;
    border-radius: $standard-radius;
    margin: 1% 5% 2% 5%;
    padding: 1%;
}

.nosotros-main-container-p {
    @extend %dflex, %j-content-c, %a-self-c;
    @extend %p-principal;
    font-family: "coffetea" sans-serif;
    background-color: $color-base;
    color: white;
    word-spacing: 0.2rem;
    text-shadow: 4px 1px 0px rgba(0, 0, 0, 0.37);
}

