/*Nosotros*/
.nosotros-main-tittle {
    @extend %title-h2
}

.nosotros-main-container-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nosotros-main-container-p1{
    @extend %p-principal;
}


.nosotros-main-container-info1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nosotros-main-h3 {
    align-self:flex-start;
    color: white;
    background-color: $color-h3;
    height: 100%;
    width:max-content;
    font-family: 'coffetea';
    font-size: clamp(0.8rem, 0.451rem + 1.744vw, 2.5rem);
    font-variant: unset;
    font-weight: 10;
    text-decoration: none;
    border: 1px $color-solid solid;
    border-radius: 15%;
    margin: 1% 5% 2% 5%;
    padding: 1%;
}

.nosotros-main-container-p {
    display: flex;
    justify-content: center;
    align-self:center;
    @extend %p-principal;
    font-family: "coffetea" sans-serif;
    background-color: $color-base;
    color: white;
    word-spacing: 0.2rem;
    text-shadow: 4px 1px 0px rgba(0, 0, 0, 0.37);
}

