
.main-section1{
    @extend %dflex, %f-direction-c;
}

.line{
    @extend %dflex, %j-content-c;

    div{
        @extend %a-items-c;
    }
}

.main-section1-tittle {
    @extend %title-h2
}

/*section1*/
.casa-del-te{
    @extend %dflex, %j-content-c;
}

.main-section1-name {
    @extend %title-h3-rest;
}

.box-container-rest1 {
    margin: 0;
    padding: 0;
    border: 0;

    @media(max-width: 768px){
        margin: 0;
        padding: 0;
        border: 0;
    }
}

.box-rest1 {
    @extend %a-content-c, %a-items-c;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(auto-fill);
    border-radius: 3%;
    background-color: $color-contraste;
    gap: 1%;
    margin: 2%;
    padding: 1.5rem;
    height: 100vh;
    grid-template-areas:
        "img info map map"
        "img info map map"
        "img info map map";

    @media(max-width: 768px){
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        border-radius: 3%;
        background-color: $color-contraste;
        height: 100%;
        gap: 2%;
        margin: 1%;
        padding: 1%;
        grid-template-areas:
            "img img img "
            "info info info"
            "map map map";
        align-content: center;
        justify-content: center;
    }
}

.main-section1-rest-info {
    @extend %dflex;
    grid-area: info;
    padding: 1rem;
    background-color: $color-contraste;
    border: #000000 solid 2px;
    border-radius: 5%;
    width: 100%;
    height: 90vh;
    margin: 0;

    @media(max-width: 768px){
        grid-area: info;
        padding: 1rem;
        background-color: $color-contraste;
        border: #000000 solid 2px;
        border-radius: 5%;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

.main-section1-imgs {
    @extend %dflex, %f-direction-c, %j-content-c, %a-items-c;
    width: 100%;
    height: 90vh;
    grid-area: img;
    gap: 1%;

    @media(max-width: 768px) {
        grid-area: img;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-content: center;
    }

    img:nth-child(1){
        width: 100%;
        height: 30%;
        object-fit: cover;
        border: black 0.1rem solid;
        border-radius: 5%;
    
        @media(max-width: 768px) {
            height: 80%;
            width: 30%;
            object-fit: cover;
            border: black 0.1rem solid;
            border-radius: 5%;
        }
    }
    img:nth-child(2){
        width: 100%;
        height: 30%;
        object-fit: cover;
        border: black 0.1rem solid;
        border-radius: 5%;
    
        @media(max-width: 768px) {
            height: 80%;
            width: 30%;
            object-fit: cover;
            border: black 0.1rem solid;
            border-radius: 5%;
        }
    }
    img:nth-child(3){
        width: 100%;
        height: 30%;
        object-fit: cover;
        border: black 0.1rem solid;
        border-radius: 5%;
    
        @media(max-width: 768px) {
            height: 80%;
            width: 30%;
            object-fit: cover;
            border: black 0.1rem solid;
            border-radius: 5%;
        }
    }

}

.main-box-map1 {
    @extend %j-items-c;
    display: grid;
    grid-template-rows: repeat(3, 1fr) 4fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "map1 map4 "
        "map2 map4 "
        "map3 map4 "
        "map4 map4 ";
    margin: 1rem;
    width: 100%;
    height: 90vh;
    grid-area: map;
    margin: 0;

    @media(max-width: 768px) {
        grid-area: map;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "map1 map4 "
            "map2 map4 "
            "map3 map4 "
            "map3 map4 ";
        align-content: space-around;
        align-items: end;
        justify-items: center;
        width: 100%;
        height: 90%;
        padding: 1%;
    }
}

.main-section1-map {
    grid-area: map;
    width: 90%;
    height: 100%;
    border-radius: 5%;
    order: 4;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    align-self: self-start;

    @media(max-width: 768px) {
        width: 90%;
        height: 100%;
        border-radius: 5%;
        order: 4;
        grid-area: map4;
    }
}




.main-section1-star {
    @extend %style-stars, %a-self-fs;
    order: 1;
    grid-column: 1/4;
    grid-row: 1 / 1;

    @media(max-width: 768px) {
        font-size: clamp(2rem, -0.491rem + 4.673vw, 3rem);
        order: 1;
        grid-area: map1;
    }
}

.main-section1-local {
    @extend %a-self-fs;
    font-family: 'Anta', sans-serif;
    font-size: clamp(1.2rem, 0.825rem + 1vw, 2rem);
    color: #000000;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    order: 2;
    grid-column: 1/4;
    grid-row: 2 / 2;

    @media(max-width: 768px) {
        grid-area: map2;
        font-family: 'Anta', sans-serif;
        font-size: clamp(0.7rem, 0.486rem + 1.069vw, 1rem);
        color: #000000;
        text-decoration: none;
        font-style: italic;
        text-align: center;
        order: 2;
    }
}

.main-section1-p {
    @extend %db;
    font-family: 'Anta', sans-serif;
    font-size: clamp(0.9rem, 0.622rem + 0.579vw, 1.3rem);
    color: #000000;
    font-weight: 100px;
    text-decoration: none;
    order: 3;
    height: auto;
    width: 90%;
    text-align: center;
    order: 3;
    grid-column: 1 / 4;
    grid-row: 3 / 3;

    @media(max-width: 768px) {
        grid-area: map3;
        font-family: 'Anta', sans-serif;
        font-size: 0.8rem;
        color: #000000;
        font-weight: 100px;
        text-decoration: none;
        order: 3;
        height: auto;
        width: 90%;
        text-align: center;
        order: 3;
    }
}

.main-section1-texts {
    @extend %dflex, %f-direction-c, %j-content-se;
    height: 100%;
    margin: 0;

    @media(max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin: 0;
        align-items: center;
        gap: 4%;
    }

    p {
        margin: 0;
        font-size: clamp(0.9rem, 0.554rem + 0.72vw, 1.4rem);
        line-height:clamp(1.1rem, 0.339rem + 1.584vw, 2.2rem);
        font-weight: 10;
        font-family: 'Anta', sans-serif;
    
        @media(max-width: 768px) {
            margin: 0;
            font-size: clamp(0.7rem, 0.486rem + 1.069vw, 1rem);
            line-height: clamp(0.9rem, 0.544rem + 1.782vw, 1.4rem);
            font-weight: 10;
            font-family: 'Anta', sans-serif;
        }
    }
}


/*section2*/

.cloe {
    @extend %dflex, %f-wr-w, %j-content-c;
    height: 100%;
    width: 100%;
}

.main-section2-name {
   @extend %title-h3-rest;
}

.box-container-rest2 {
    margin: 0;
    padding: 0;
    border: 0;

    @media(max-width: 768px) {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

.box-rest2 {
    @extend %a-content-c, %a-items-c;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(auto-fill);
    border-radius: 3%;
    background-color: $color-contraste;
    gap: 1%;
    margin: 2%;
    padding: 1.5rem;
    height: 100vh;
    grid-template-areas:
        "img info map map"
        "img info map map"
        "img info map map";

    @media(max-width: 768px){
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        border-radius: 3%;
        background-color: $color-contraste;
        height: 100%;
        gap: 2%;
        margin: 1%;
        padding: 1%;
        grid-template-areas:
            "img img img "
            "info info info"
            "map map map";
        align-content: center;
        justify-content: center;
    }
}

.main-section2-rest-info {
    @extend %dflex;
    grid-area: info;
    padding: 1rem;
    background-color: $color-contraste;
    border: #000000 solid 2px;
    border-radius: 5%;
    width: 100%;
    height: 90vh;
    margin: 0;

    @media(max-width: 768px){
        grid-area: info;
        padding: 1rem;
        background-color: $color-contraste;
        border: #000000 solid 2px;
        border-radius: 5%;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

.main-section2-imgs {
    @extend %dflex, %f-direction-c, %j-content-c, %a-items-c;
    width: 100%;
    height: 90vh;
    grid-area: img;
    gap: 1%;

    @media(max-width: 768px) {
        grid-area: img;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-content: center;
    }

    img:nth-child(1){
        width: 100%;
        height: 30%;
        object-fit: cover;
        border: black 0.1rem solid;
        border-radius: 5%;
    
        @media(max-width: 768px) {
            height: 80%;
            width: 30%;
            object-fit: cover;
            border: black 0.1rem solid;
            border-radius: 5%;
        }
    }
    img:nth-child(2){
        width: 100%;
        height: 30%;
        object-fit: cover;
        border: black 0.1rem solid;
        border-radius: 5%;
    
        @media(max-width: 768px) {
            height: 80%;
            width: 30%;
            object-fit: cover;
            border: black 0.1rem solid;
            border-radius: 5%;
        }
    }
    img:nth-child(3){
        width: 100%;
        height: 30%;
        object-fit: cover;
        border: black 0.1rem solid;
        border-radius: 5%;
    
        @media(max-width: 768px) {
            height: 80%;
            width: 30%;
            object-fit: cover;
            border: black 0.1rem solid;
            border-radius: 5%;
        }
    }

}

.main-box-map2 {
    @extend %j-items-c;
    display: grid;
    grid-template-rows: repeat(3, 1fr) 4fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "map1 map4 "
        "map2 map4 "
        "map3 map4 "
        "map4 map4 ";
    margin: 1rem;
    width: 100%;
    height: 90vh;
    grid-area: map;
    margin: 0;

    @media(max-width: 768px) {
        grid-area: map;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "map1 map4 "
            "map2 map4 "
            "map3 map4 "
            "map3 map4 ";
        align-content: space-around;
        align-items: end;
        justify-items: center;
        width: 100%;
        height: 90%;
        padding: 1%;
    }
}

.main-section2-map {
    @extend %a-self-sf;
    grid-area: map;
    width: 90%;
    height: 100%;
    border-radius: 5%;
    order: 4;
    grid-column: 1 / 4;
    grid-row: 4 / 5;

    @media(max-width: 768px) {
        width: 90%;
        height: 100%;
        border-radius: 5%;
        order: 4;
        grid-area: map4;
    }
}

.main-section2-star {
    @extend %style-stars, %a-self-fs;
    order: 1;
    grid-column: 1/4;
    grid-row: 1 / 1;

    @media(max-width: 768px) {
        font-size: clamp(2rem, -0.491rem + 4.673vw, 3rem);
        order: 1;
        grid-area: map1;
    }
}

.main-section2-local {
    @extend %a-self-fs;
    font-family: 'Anta', sans-serif;
    font-size: clamp(1.2rem, 0.825rem + 1vw, 2rem);
    color: #000000;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    order: 2;
    grid-column: 1/4;
    grid-row: 2 / 2;

    @media(max-width: 768px) {
        grid-area: map2;
        font-family: 'Anta', sans-serif;
        font-size: clamp(0.7rem, 0.486rem + 1.069vw, 1rem);
        color: #000000;
        text-decoration: none;
        font-style: italic;
        text-align: center;
        order: 2;
    }
}

.main-section2-p {
    @extend %db;
    font-family: 'Anta', sans-serif;
    font-size: clamp(0.9rem, 0.622rem + 0.579vw, 1.3rem);
    color: #000000;
    font-weight: 100px;
    text-decoration: none;
    order: 3;
    height: auto;
    width: 90%;
    text-align: center;
    order: 3;
    grid-column: 1 / 4;
    grid-row: 3 / 3;

    @media(max-width: 768px) {
        grid-area: map3;
        font-family: 'Anta', sans-serif;
        font-size: 0.8rem;
        color: #000000;
        font-weight: 100px;
        text-decoration: none;
        order: 3;
        height: auto;
        width: 90%;
        text-align: center;
        order: 3;
    }
}

.main-section2-texts {
    @extend %dflex, %f-direction-c, %j-content-se;
    height: 100%;
    margin: 0;

    @media(max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin: 0;
        align-items: center;
        gap: 1%;
    }
    p{
        margin: 0;
        font-size: clamp(0.9rem, 0.554rem + 0.72vw, 1.4rem);
        line-height:clamp(1.1rem, 0.339rem + 1.584vw, 2.2rem);
        font-weight: 10;
        font-family: 'Anta', sans-serif;
    
        @media(max-width: 768px) {
            margin: 0;
            font-size: clamp(0.7rem, 0.486rem + 1.069vw, 1rem);
            line-height: clamp(0.9rem, 0.544rem + 1.782vw, 1.4rem);
            font-weight: 10;
            font-family: 'Anta', sans-serif;
        }
    }
}
