$color-base: #3F1B03; /*Color secundario oscuro*/   
$color-base2: #f3be82ee; /*Color secundario claro*/   
$color-contraste: #bbbbbbe0; /*Fondo gris contrate*/
$color-star:yellow;
$shadow-p:black;
$standart-radius:5%;