$color-solid: #3F1B03;
$color-base:#3f1b03ee;
$color-base2: #f3be82ee;  
$color-h3:#a5670be1;
$color-contraste: #bbbbbbe0; 
$color-contraste2:#6e6e6e8a;
$color-buttom: #e2610a;
$color-button:#bbbbbb2d;
$color-star:yellow;
$shadow-p:black;
$standard-radius:5%;
