@font-face {
  font-family: handmaker;
  src: url(/fuentes/hand_marker/handMarker.ttf);
}
@font-face {
  font-family: kgfont;
  src: url(./fuentes/kg.otf);
}
@font-face {
  font-family: coffetea;
  src: url(./fuentes/coffetea/coffetea.ttf);
}
@font-face {
  font-family: coffedeco;
  src: url(./fuentes/decorationcoffe/coffedecoration.ttf);
}
* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

.body-background-img {
  position: relative;
  justify-content: center;
  background-image: url(./Images/redes/background.jpg);
}

.map-main-container-p, .recomendanos-main-container-p, .nosotros-main-container-p, .nosotros-main-container-p1, .main-container-p {
  font-family: "Architects Daughter", cursive;
  color: #000000;
  font-size: clamp(0.7rem, 0.454rem + 1.231vw, 1.9rem);
  letter-spacing: 0.2rem;
  word-spacing: -0.2rem;
  font-weight: 10px;
  font-style: none;
  font-weight: 10px;
  text-align: center;
  background-color: rgba(243, 190, 130, 0.911);
  width: 95%;
  padding: 1.3rem 0.3rem 1.3rem 0.3rem;
  border: #000000 2px groove;
  border-radius: 15%;
}

.map-main-container-tittle, .recomendanos-tittle, .redes-main-container-tittle, .nosotros-main-tittle, .main-section1-tittle {
  text-align: left;
  color: white;
  background-color: #3F1B03;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  font-family: "coffetea";
  font-size: clamp(1.5rem, 1.031rem + 1.25vw, 2.5rem);
  font-variant: unset;
  font-weight: 10;
  text-decoration: underline;
  border: 20px;
  border-radius: 15%;
  margin: 1% 1% 5% 5%;
  padding: 1%;
}

.main-section2-name, .main-section1-name {
  display: flex;
  text-align: center;
  font-family: "coffetea";
  font-size: clamp(1.8rem, 1.238rem + 1.5vw, 3rem);
  font-weight: 100;
  background-color: rgba(63, 27, 3, 0.9333333333);
  color: white;
  text-shadow: 2px 4px #000000;
  padding: 0.5%;
  border-radius: 10%;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.main-section2-star, .main-section1-star {
  font-size: clamp(2.5rem, -0.491rem + 4.673vw, 4rem);
  color: yellow;
  text-shadow: 5px 3px 10px #000000, 5px 3px 10px #000000;
}

.nav-container-links {
  display: flex;
  position: relative;
  background-color: #3F1B03;
  align-items: center;
  height: auto;
}
@media (max-width: 992px) {
  .nav-container-links {
    background-color: transparent;
  }
}

.open-nav {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  transition: 0.5s;
  border: #000000 0.1rem solid;
  z-index: 10;
}
.open-nav:hover {
  background-color: #e2610a;
  border: white 0.1rem solid;
}
@media (max-width: 992px) {
  .open-nav {
    position: absolute;
    top: 0.3rem;
    right: 0rem;
    display: block;
    color: rgba(243, 190, 130, 0.9333333333);
    text-align: center;
    width: 20rem;
    padding: 0.5rem;
    background-color: #3F1B03;
    border-radius: 5%;
    box-shadow: 5px 5px 15px 5px #000000;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .open-nav {
    width: 15rem;
  }
}
@media (max-width: 480px) {
  .open-nav {
    width: 8rem;
  }
}
.open-nav i {
  letter-spacing: 5px;
  font-size: 0.6rem;
}

.cube-check {
  opacity: 0;
}

@media (max-width: 992px) {
  #check {
    background-color: #3F1B03;
  }
  #check:checked ~ .nav-links {
    visibility: visible;
    opacity: 100%;
    box-shadow: 1px 1px 15px 1px #000000;
    transition: 0.5s;
  }
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  align-items: center;
  justify-content: right;
  width: 100vw;
  height: 4rem;
  gap: 1.25rem;
  padding-right: 3rem;
  margin: 0;
  z-index: 10;
}
@media (max-width: 992px) {
  .nav-links {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 3.5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    padding: 1rem;
    margin: 0;
    border: #000000 0.2rem solid;
    border-radius: 5% 0% 0% 5%;
    background-color: rgba(63, 27, 3, 0.9333333333);
  }
}
@media (max-width: 768px) {
  .nav-links {
    width: 15rem;
  }
}
@media (max-width: 480px) {
  .nav-links {
    width: 11rem;
  }
}

.nav-link {
  display: flex;
  flex-flow: row wrap;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  width: auto;
}
@media (max-width: 992px) {
  .nav-link {
    width: auto;
    height: 100%;
    justify-content: center;
  }
}
.nav-link a {
  display: block;
  font-size: clamp(1rem, 0.581rem + 0.654vw, 1.35rem);
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.nav-link a:hover {
  background-color: #e2610a;
  padding: 1rem 0.3rem;
  border-radius: 10%;
}
@media (max-width: 992px) {
  .nav-link a {
    text-align: center;
    flex-direction: row;
    width: auto;
    height: 100%;
    color: rgba(243, 190, 130, 0.911);
  }
  .nav-link a:hover {
    background-color: #e2610a;
    padding: 0.5rem 0.1rem;
    border-radius: 10%;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin: 2rem 0rem 2rem 1rem;
}
@media (max-width: 992px) {
  .logo-container {
    margin-top: 0rem;
  }
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  align-content: center;
}

.logo-text {
  display: flex;
  font-family: "coffetea";
  align-items: center;
  font-size: clamp(1rem, 1.266rem + 0.625vw, 2rem);
  font-size: clamp(1.3rem, 1.266rem + 0.625vw, 2rem);
  color: rgba(243, 190, 130, 0.9333333333);
  text-shadow: 0 -1px 4px rgba(63, 27, 3, 0.9333333333), 0 -10px 20px rgba(255, 128, 0, 0.7333333333), 0 -18px 40px rgba(255, 0, 0, 0.719), -40px -21px 0px rgba(206, 29, 29, 0);
  background-color: rgba(63, 27, 3, 0.9333333333);
  border-radius: 10%;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin: 0;
}

.logo-img {
  width: clamp(3rem, 2.063rem + 2.5vw, 5rem);
  height: auto;
}

/*Main*/
.main-container-info {
  display: flex;
  justify-content: center;
}

.main-container-title {
  text-align: center;
  font-family: "coffetea";
  color: white;
  background-color: #3F1B03;
  font-size: clamp(1.6rem, 1.415rem + 0.923vw, 2.5rem);
  font-variant: unset;
  font-weight: 10;
  text-decoration: none;
  text-shadow: 2px 4px #000000;
  border-radius: 20%;
  border: 10%;
  padding: 1%;
  margin-bottom: 1rem;
  height: auto;
}

.main-container-text {
  display: flex;
  justify-content: center;
}

.main-container-p {
  margin: 2% 0rem 3% 0rem;
}

.main-line {
  text-align: center;
  width: 80%;
  border-radius: 50%;
  border-bottom: 5px black solid;
  margin: 3%;
}

/*index*/
.main-section-videos {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  margin: 2% 0% 2% 0%;
}
.main-section-videos video:nth-child(1) {
  width: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
.main-section-videos video:nth-child(2) {
  width: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
.main-section-videos video:nth-child(3) {
  width: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}

.main-section1 {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  justify-content: center;
}
.line div {
  align-items: center;
}

/*section1*/
.casa-del-te {
  display: flex;
  justify-content: center;
}

.box-container-rest1 {
  margin: 0;
  padding: 0;
  border: 0;
}
@media (max-width: 768px) {
  .box-container-rest1 {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.box-rest1 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: repeat(auto-fill);
  border-radius: 3%;
  background-color: rgba(187, 187, 187, 0.8784313725);
  gap: 1%;
  margin: 2%;
  padding: 1.5rem;
  height: 100vh;
  grid-template-areas: "img info map map" "img info map map" "img info map map";
  align-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .box-rest1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 3%;
    background-color: rgba(187, 187, 187, 0.8784313725);
    height: 100%;
    gap: 2%;
    margin: 1%;
    padding: 1%;
    grid-template-areas: "img img img " "info info info" "map map map";
    align-content: center;
    justify-content: center;
  }
}

.main-section1-rest-info {
  display: flex;
  grid-area: info;
  padding: 1rem;
  background-color: rgba(187, 187, 187, 0.8784313725);
  border: #000000 solid 2px;
  border-radius: 5%;
  width: 100%;
  height: 90vh;
  margin: 0;
}
@media (max-width: 768px) {
  .main-section1-rest-info {
    grid-area: info;
    padding: 1rem;
    background-color: rgba(187, 187, 187, 0.8784313725);
    border: #000000 solid 2px;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.main-section1-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  grid-area: img;
  gap: 1%;
}
@media (max-width: 768px) {
  .main-section1-imgs {
    grid-area: img;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-content: center;
  }
}
.main-section1-imgs img:nth-child(1) {
  width: 100%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border: black 0.1rem solid;
  border-radius: 5%;
}
@media (max-width: 768px) {
  .main-section1-imgs img:nth-child(1) {
    height: 80%;
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    border: black 0.1rem solid;
    border-radius: 5%;
  }
}
.main-section1-imgs img:nth-child(2) {
  width: 100%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border: black 0.1rem solid;
  border-radius: 5%;
}
@media (max-width: 768px) {
  .main-section1-imgs img:nth-child(2) {
    height: 80%;
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    border: black 0.1rem solid;
    border-radius: 5%;
  }
}
.main-section1-imgs img:nth-child(3) {
  width: 100%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border: black 0.1rem solid;
  border-radius: 5%;
}
@media (max-width: 768px) {
  .main-section1-imgs img:nth-child(3) {
    height: 80%;
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    border: black 0.1rem solid;
    border-radius: 5%;
  }
}

.main-box-map1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 4fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "map1 map4 " "map2 map4 " "map3 map4 " "map4 map4 ";
  justify-items: center;
  margin: 1rem;
  width: 100%;
  height: 90vh;
  grid-area: map;
  margin: 0;
}
@media (max-width: 768px) {
  .main-box-map1 {
    grid-area: map;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map1 map4 " "map2 map4 " "map3 map4 " "map3 map4 ";
    align-content: space-around;
    align-items: end;
    justify-items: center;
    width: 100%;
    height: 90%;
    padding: 1%;
  }
}

.main-section1-map {
  grid-area: map;
  width: 90%;
  height: 100%;
  border-radius: 5%;
  order: 4;
  grid-column: 1/4;
  grid-row: 4/5;
  align-self: self-start;
}
@media (max-width: 768px) {
  .main-section1-map {
    width: 90%;
    height: 100%;
    border-radius: 5%;
    order: 4;
    grid-area: map4;
  }
}

.main-section1-text1 {
  margin: 0;
  font-size: clamp(1rem, 0.583rem + 0.868vw, 1.6rem);
  line-height: clamp(1rem, 0.583rem + 0.868vw, 1.6rem);
  font-weight: 10;
  font-family: "Anta", sans-serif;
}
@media (max-width: 768px) {
  .main-section1-text1 {
    margin: 0;
    font-size: clamp(0.7rem, 0.486rem + 1.069vw, 1rem);
    line-height: clamp(0.9rem, 0.544rem + 1.782vw, 1.4rem);
    font-weight: 10;
    font-family: "Anta", sans-serif;
  }
}

.main-section1-star {
  order: 1;
  grid-column: 1/4;
  grid-row: 1/1;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .main-section1-star {
    font-size: clamp(2rem, -0.491rem + 4.673vw, 3rem);
    order: 1;
    grid-area: map1;
  }
}

.main-section1-local {
  font-family: "Anta", sans-serif;
  font-size: clamp(1.2rem, 0.825rem + 1vw, 2rem);
  color: #000000;
  text-decoration: none;
  font-style: italic;
  text-align: center;
  order: 2;
  grid-column: 1/4;
  grid-row: 2/2;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .main-section1-local {
    grid-area: map2;
    font-family: "Anta", sans-serif;
    font-size: clamp(0.7rem, 0.486rem + 1.069vw, 1rem);
    color: #000000;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    order: 2;
  }
}

.main-section1-p {
  display: block;
  font-family: "Anta", sans-serif;
  font-size: clamp(0.9rem, 0.622rem + 0.579vw, 1.3rem);
  color: #000000;
  font-weight: 100px;
  text-decoration: none;
  order: 3;
  height: auto;
  width: 90%;
  text-align: center;
  order: 3;
  grid-column: 1/4;
  grid-row: 3/3;
}
@media (max-width: 768px) {
  .main-section1-p {
    grid-area: map3;
    font-family: "Anta", sans-serif;
    font-size: 0.8rem;
    color: #000000;
    font-weight: 100px;
    text-decoration: none;
    order: 3;
    height: auto;
    width: 90%;
    text-align: center;
    order: 3;
  }
}

.main-section1-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 0;
}
@media (max-width: 768px) {
  .main-section1-texts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin: 0;
    align-items: center;
    gap: 4%;
  }
}

/*section2*/
.cloe {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.box-container-rest2 {
  margin: 0;
  padding: 0;
  border: 0;
}
@media (max-width: 768px) {
  .box-container-rest2 {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.box-rest2 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: repeat(auto-fill);
  border-radius: 3%;
  background-color: rgba(187, 187, 187, 0.8784313725);
  gap: 1%;
  margin: 2%;
  padding: 1.5rem;
  height: 100vh;
  grid-template-areas: "img info map map" "img info map map" "img info map map";
  align-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .box-rest2 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 3%;
    background-color: rgba(187, 187, 187, 0.8784313725);
    height: 100%;
    gap: 2%;
    margin: 1%;
    padding: 1%;
    grid-template-areas: "img img img " "info info info" "map map map";
    align-content: center;
    justify-content: center;
  }
}

.main-section2-rest-info {
  display: flex;
  grid-area: info;
  padding: 1rem;
  background-color: rgba(187, 187, 187, 0.8784313725);
  border: #000000 solid 2px;
  border-radius: 5%;
  width: 100%;
  height: 90vh;
  margin: 0;
}
@media (max-width: 768px) {
  .main-section2-rest-info {
    grid-area: info;
    padding: 1rem;
    background-color: rgba(187, 187, 187, 0.8784313725);
    border: #000000 solid 2px;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.main-section2-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  grid-area: img;
  gap: 1%;
}
@media (max-width: 768px) {
  .main-section2-imgs {
    grid-area: img;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-content: center;
  }
}
.main-section2-imgs img:nth-child(1) {
  width: 100%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border: black 0.1rem solid;
  border-radius: 5%;
}
@media (max-width: 768px) {
  .main-section2-imgs img:nth-child(1) {
    height: 80%;
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    border: black 0.1rem solid;
    border-radius: 5%;
  }
}
.main-section2-imgs img:nth-child(2) {
  width: 100%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border: black 0.1rem solid;
  border-radius: 5%;
}
@media (max-width: 768px) {
  .main-section2-imgs img:nth-child(2) {
    height: 80%;
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    border: black 0.1rem solid;
    border-radius: 5%;
  }
}
.main-section2-imgs img:nth-child(3) {
  width: 100%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border: black 0.1rem solid;
  border-radius: 5%;
}
@media (max-width: 768px) {
  .main-section2-imgs img:nth-child(3) {
    height: 80%;
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    border: black 0.1rem solid;
    border-radius: 5%;
  }
}

.main-box-map2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 4fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "map1 map4 " "map2 map4 " "map3 map4 " "map4 map4 ";
  justify-items: center;
  margin: 1rem;
  width: 100%;
  height: 90vh;
  grid-area: map;
  margin: 0;
}
@media (max-width: 768px) {
  .main-box-map2 {
    grid-area: map;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map1 map4 " "map2 map4 " "map3 map4 " "map3 map4 ";
    align-content: space-around;
    align-items: end;
    justify-items: center;
    width: 100%;
    height: 90%;
    padding: 1%;
  }
}

.main-section2-map {
  grid-area: map;
  width: 90%;
  height: 100%;
  border-radius: 5%;
  order: 4;
  grid-column: 1/4;
  grid-row: 4/5;
  align-self: self-start;
}
@media (max-width: 768px) {
  .main-section2-map {
    width: 90%;
    height: 100%;
    border-radius: 5%;
    order: 4;
    grid-area: map4;
  }
}

.main-section2-text1 {
  margin: 0;
  font-size: clamp(1rem, 0.583rem + 0.868vw, 1.6rem);
  line-height: clamp(1rem, 0.583rem + 0.868vw, 1.6rem);
  font-weight: 10;
  font-family: "Anta", sans-serif;
}
@media (max-width: 768px) {
  .main-section2-text1 {
    margin: 0;
    font-size: clamp(0.7rem, 0.486rem + 1.069vw, 1rem);
    line-height: clamp(0.9rem, 0.544rem + 1.782vw, 1.4rem);
    font-weight: 10;
    font-family: "Anta", sans-serif;
  }
}

.main-section2-star {
  order: 1;
  grid-column: 1/4;
  grid-row: 1/1;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .main-section2-star {
    font-size: clamp(2rem, -0.491rem + 4.673vw, 3rem);
    order: 1;
    grid-area: map1;
  }
}

.main-section2-local {
  font-family: "Anta", sans-serif;
  font-size: clamp(1.2rem, 0.825rem + 1vw, 2rem);
  color: #000000;
  text-decoration: none;
  font-style: italic;
  text-align: center;
  order: 2;
  grid-column: 1/4;
  grid-row: 2/2;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .main-section2-local {
    grid-area: map2;
    font-family: "Anta", sans-serif;
    font-size: clamp(0.7rem, 0.486rem + 1.069vw, 1rem);
    color: #000000;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    order: 2;
  }
}

.main-section2-p {
  display: block;
  font-family: "Anta", sans-serif;
  font-size: clamp(0.9rem, 0.622rem + 0.579vw, 1.3rem);
  color: #000000;
  font-weight: 100px;
  text-decoration: none;
  order: 3;
  height: auto;
  width: 90%;
  text-align: center;
  order: 3;
  grid-column: 1/4;
  grid-row: 3/3;
}
@media (max-width: 768px) {
  .main-section2-p {
    grid-area: map3;
    font-family: "Anta", sans-serif;
    font-size: 0.8rem;
    color: #000000;
    font-weight: 100px;
    text-decoration: none;
    order: 3;
    height: auto;
    width: 90%;
    text-align: center;
    order: 3;
  }
}

.main-section2-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 0;
}
@media (max-width: 768px) {
  .main-section2-texts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin: 0;
    align-items: center;
    gap: 1%;
  }
}

/*Nosotros*/
.nosotros-main-container-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nosotros-main-container-info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nosotros-main-h3 {
  align-self: flex-start;
  color: white;
  background-color: rgba(165, 103, 11, 0.8823529412);
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  font-family: "coffetea";
  font-size: clamp(0.8rem, 0.451rem + 1.744vw, 2.5rem);
  font-variant: unset;
  font-weight: 10;
  text-decoration: none;
  border: 1px #3F1B03 solid;
  border-radius: 15%;
  margin: 1% 5% 2% 5%;
  padding: 1%;
}

.nosotros-main-container-p {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: "coffetea" sans-serif;
  background-color: rgba(63, 27, 3, 0.9333333333);
  color: white;
  word-spacing: 0.2rem;
  text-shadow: 4px 1px 0px rgba(0, 0, 0, 0.37);
}

/*Redes*/
.redes-main-container-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(184, 184, 184, 0.801);
  width: 100%;
  height: 70vh;
  padding: 2rem 0;
  margin: 2rem 0;
  gap: 0;
}
@media (max-width: 768px) {
  .redes-main-container-info {
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
  }
}

.redes-main-container-p {
  display: block;
  text-align: left;
  align-content: center;
  justify-content: center;
  padding: 0rem 2rem;
  font-size: clamp(1.05rem, 0.532rem + 1.079vw, 1.8rem);
  word-spacing: clamp(0.2rem, -0.032rem + 0.48vw, 0.4rem);
  letter-spacing: 0.1rem;
  margin: 0;
  height: 100%;
  width: 40%;
  border-radius: 5%;
  border: #000000 0.1rem solid;
  border-right: black 0.5rem solid;
}
@media (max-width: 768px) {
  .redes-main-container-p {
    width: 90%;
    height: 100%;
    padding: 1rem;
    font-size: 1rem;
    word-spacing: 0.1rem;
    border: #000000 0.1rem solid;
    border-bottom: black 0.5rem solid;
    border-radius: 5% 5% 0% 0%;
  }
}

.redes-container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .redes-container-links {
    height: auto;
    width: 100%;
    z-index: 3;
    bottom: 200px;
  }
}

.redes-container-link {
  text-align: right;
  width: 10vw;
  background-color: #ffffff;
  border: #000000 0.2rem solid;
  height: 100%;
}

.main-container-img1 {
  height: 100%;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
  border: #000000 0.1rem solid;
  border-left: black 0.5rem solid;
}
@media (max-width: 768px) {
  .main-container-img1 {
    min-height: 12rem;
    width: 90%;
    border: #000000 0.1rem solid;
    border-top: black 0.5rem solid;
    border-radius: 0% 0% 5% 5%;
    margin-bottom: 10%;
  }
}

.aside-container-p {
  text-align: center;
  font-family: "Architects Daughter", cursive;
  font-size: clamp(1.2rem, 0.243rem + 1.495vw, 2rem);
  letter-spacing: 3px;
  word-spacing: 0px;
  color: white;
  font-weight: 100px;
  font-style: oblique;
  font-variant: normal;
  text-transform: none;
  padding: 1rem;
  background-color: rgba(63, 27, 3, 0.8156862745);
}
@media (max-width: 768px) {
  .aside-container-p {
    text-align: center;
    font-family: "Architects Daughter", cursive;
    font-size: clamp(0.7rem, 0.454rem + 1.231vw, 1.9rem);
    letter-spacing: 0.2rem;
    word-spacing: -0.2rem;
    font-weight: 10px;
    color: white;
    font-weight: 100px;
    font-style: oblique;
    font-variant: normal;
    text-transform: none;
    padding: 1rem;
    background-color: rgba(63, 27, 3, 0.9333333333);
  }
}

/*Recomendanos*/
.recomendanos-main-container-info {
  display: flex;
  justify-content: space-around;
}

.recomendanos-main-container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(187, 187, 187, 0.8784313725);
  width: 100%;
  height: 60rem;
  z-index: -5;
  margin-top: 1.5rem;
}
@media (max-width: 768px) {
  .recomendanos-main-container-form {
    position: relative;
    flex-direction: column;
  }
}

.recomendanos-main-container-img1 {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: left;
  width: 50%;
  border-radius: 2%;
  border: #000000 0.1rem solid;
  border-right: black 0.5rem solid;
}
@media (max-width: 768px) {
  .recomendanos-main-container-img1 {
    visibility: hidden;
    opacity: 0;
  }
}

.recomendanos-main-opcions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 45%;
  height: 54.2rem;
  padding: 4rem 2rem;
  border: #000000 0.1rem solid;
  border-left: black 0.5rem solid;
  border: 1rem 0 1rem 0;
  border-radius: 2%;
  box-shadow: 0 0 1rem 0.375rem rgba(81, 81, 81, 0.2509803922);
  background-color: white;
}
@media (max-width: 768px) {
  .recomendanos-main-opcions {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: white;
    padding: 4rem 2rem;
    background-image: url(./Images/recomendanos/form.jpg);
  }
}

.recomendanos-main-opcions1 {
  display: flex;
  justify-content: center;
}

.recomendanos-main-input {
  display: flex;
  text-align: left;
  width: 100%;
  font-family: "andmaker";
  font-size: clamp(1.4rem, 1.114rem + 0.762vw, 1.8rem);
  color: rgba(0, 0, 0, 0.5490196078);
  border: solid 0.125rem rgba(63, 27, 3, 0.9333333333);
  border-radius: 4%;
  padding-left: 1rem;
  transition: 0.1s;
  max-height: 10rem;
}
.recomendanos-main-input:focus {
  border: solid 0.25rem #e2610a;
  outline: none;
}

.recomendanos-main-enviar {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-family: "andmaker";
  font-size: clamp(1.5rem, 1.014rem + 1.295vw, 2.18rem);
  color: #e2610a;
  background-color: rgba(63, 27, 3, 0.9333333333);
  padding: 0.65rem;
  border: solid 0.2rem rgba(63, 27, 3, 0.9333333333);
  width: 90%;
  transition: 0.5s;
}
.recomendanos-main-enviar:hover {
  color: white;
  background-color: #e2610a;
  width: 100%;
}

.recomendanos-main-container-tittle {
  display: inline;
  font-size: clamp(1.4rem, 0.971rem + 1.143vw, 2rem);
  width: 100%;
  font-family: "andmaker";
  color: #000000;
}

/*Mapa*/
.map-main-container-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.map-main-h3 {
  color: #FFF;
  font-size: clamp(1.5rem, 1.031rem + 1.25vw, 2.5rem);
  font-family: coffetea;
  font-weight: 70;
  text-decoration: none;
  text-align: left;
  background-color: rgba(165, 103, 11, 0.8823529412);
  text-shadow: 5px 1px 0px rgba(8, 8, 8, 0.37);
  padding: 0.6rem 1rem 0.2rem 1rem;
  border-radius: 10%;
  margin: 2rem 0rem 2rem 0rem;
  align-content: center;
}

.container-rests {
  display: flex;
  flex-flow: nowrap column;
  margin: 2%;
}

.cointainer-item {
  background-color: transparent;
}

.accordion {
  display: block;
  justify-content: center;
}

.accordion-button {
  font-family: "coffedeco" sans-serif;
  color: white;
  background-color: rgba(63, 27, 3, 0.9333333333);
  border: 2px white solid;
}
.accordion-button:not(.collapsed) {
  color: black;
  font-weight: bold;
}
.accordion-button ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 4px;
}
@media (max-width: 600px) {
  .accordion-button ul {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
  }
}
.accordion-button ul li {
  display: block;
  align-content: center;
  border: black 1.5px ridge;
  border-radius: 5%;
  background-color: rgba(187, 187, 187, 0.1764705882);
  padding: 2px 5px;
  margin: 5px;
  text-decoration: none;
  list-style: none;
}
@media (max-width: 560px) {
  .accordion-button ul li {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: -moz-max-content;
    width: max-content;
  }
}

.accordion-text {
  font-family: "kgfont" sans-serif;
  font-size: clamp(0.6rem, 0.497rem + 0.513vw, 1.1rem);
  margin: 0pc;
}

.box-color {
  background-color: transparent;
  margin: 0;
}

.acc-body {
  background-color: rgba(128, 128, 128, 0.959);
  padding: 0;
}

.container-rests {
  display: flex;
  flex-flow: nowrap column;
  margin: 2%;
}

.cointainer-item {
  background-color: transparent;
}

.accordion-button {
  font-family: "coffedeco" sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: rgba(63, 27, 3, 0.9333333333);
  border: 2px white solid;
}

.accordion-text {
  font-family: "kgfont" sans-serif;
}

.accordion-button:not(.collapsed) {
  color: black;
  font-weight: bold;
  background-color: rgba(243, 190, 130, 0.9333333333);
}

.box-color {
  background-color: transparent;
  margin: 0;
}

.acc-body {
  background-color: rgba(128, 128, 128, 0.959);
  padding: 0;
}

/*Footer*/
.footer-box {
  display: flex;
  height: 13rem;
  width: 100%;
  justify-content: space-around;
}

.footer-container {
  display: flex;
  width: 95%;
  align-items: center;
  margin: 3rem 0rem 1rem 0rem;
  background-color: rgba(63, 27, 3, 0.9333333333);
  border: 0.6rem rgb(0, 0, 0) double;
  flex-grow: 0;
}

/*footer logo*/
.footer-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0 1rem 0 1rem;
  height: 100%;
  margin: 0;
}

.footer-logo-text {
  text-align: center;
  font-family: "coffetea";
  font-weight: 20rem;
  font-size: clamp(1.5rem, 1.266rem + 0.625vw, 2rem);
  color: rgba(243, 190, 130, 0.9333333333);
  text-shadow: 0 -1px 4px #3F1B03, 0 -10px 20px rgba(255, 128, 0, 0.7333333333), 0 -18px 40px rgba(255, 0, 0, 0.719), -40px -21px 0px rgba(206, 29, 29, 0);
  padding-top: 0.5rem;
  margin: 0;
}

.footer-logo-img1 {
  height: clamp(2rem, 1.063rem + 2.5vw, 4rem);
  width: auto;
}

/*footer derechos*/
.footer-derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 0.5rem;
  flex-grow: 2;
  width: auto;
}

.footer-logo-p {
  text-align: center;
  color: white;
  font-family: "Anta", sans-serif;
  font-size: clamp(0.5rem, 0.078rem + 1.125vw, 1.4rem);
  font-style: normal;
  -webkit-text-decoration: double;
          text-decoration: double;
  font-weight: 700px;
  height: auto;
}

/*footer redes*/
.footer-container-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  row-gap: 0.5rem;
}

.footer-redes-tittle {
  font-family: "coffedeco";
  font-size: clamp(1.5rem, 0.797rem + 1.875vw, 3rem);
  color: rgba(243, 190, 130, 0.9333333333);
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.footer-logo-redes {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  justify-self: left;
}
.footer-logo-redes img:nth-child(1) {
  height: clamp(1.5rem, 0.75rem + 2vw, 3.1rem);
  background-color: rgba(243, 190, 130, 0.9333333333);
  border-radius: 45%;
  border: black 0.2rem solid;
}
.footer-logo-redes img:nth-child(2) {
  height: clamp(1.5rem, 0.75rem + 2vw, 3.1rem);
  background-color: #DFC599;
  border-radius: 45%;
  border: black 0.2rem solid;
}
.footer-logo-redes img:nth-child(3) {
  height: clamp(1.5rem, 0.75rem + 2vw, 3.1rem);
  background-color: #DFC599;
  border-radius: 45%;
  border: black 0.2rem solid;
}

/*top Botton*/
.botton {
  position: relative;
  position: sticky;
  top: 10px;
  bottom: 100px;
  z-index: 10;
  height: auto;
  width: 100%;
  justify-content: right;
}

.top-botton {
  position: absolute;
  right: 1.8rem;
  height: auto;
  width: clamp(2rem, 1.286rem + 1.905vw, 3rem);
  background-color: #ffffff;
  border-radius: 60%;
}
.top-botton:hover {
  box-shadow: 1px 1px 15px 1px #000000;
}/*# sourceMappingURL=styles.css.map */