/* font family font size - font style - fpmt weight - text decoraction o text align  */

@font-face {
    font-family: handmaker;
    src: url(/fuentes/hand_marker/handMarker.ttf);
}

@font-face {
    font-family: kgfont;
    src: url(./fuentes/kg.otf);
}

@font-face {
    font-family: coffetea;
    src: url(./fuentes/coffetea/coffetea.ttf);
}

@font-face {
    font-family: coffedeco;
    src: url(./fuentes/decorationcoffe/coffedecoration.ttf);
}

@import "./SCSS/reset";
@import "./SCSS/bodyImg";
@import "./SCSS/variables";
@import "./SCSS/nav";
@import "./SCSS/logo";
@import "./SCSS/firstInfoHome";
@import "./SCSS/homevideos";
@import "./SCSS/restaurants";
@import "./SCSS/nosotrosinfo";
@import "./SCSS/redes";
@import "./SCSS/redesAside";
@import "./SCSS/firstInfoRecomend";
@import "./SCSS/formRecomends";
@import "./SCSS/mapSelector";
@import "./SCSS/footer";
@import "./SCSS/topbutton";
